@font-face {
  font-family: 'Instrument Sans';
  src: url('/app/fonts/instrument_sans/InstrumentSans.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/app/fonts/instrument_sans/InstrumentSans_Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
}
